/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.force-reinstall-prompt {
    margin-bottom: 5px;
}

.force-reinstall.notice > div {
    margin: 20px 5px;
}
